#--content Project Information
site_name: NCAR HPC User Group (NHUG)
site_description: NHUG website
repo_url: https://github.com/NCAR/NHUG/
site_url: https://NCAR.github.io/NHUG/
site_author: CISL CSG (Consulting Services Group)
edit_uri: edit/main/docs/

# ------------------------------------
# -------- validation config ---------
# ------------------------------------
validation:
  nav:
    not_found: warn             # check if stubs exist or not!
    omitted_files: ignore       # check for files that exist without any links to them in nav
    absolute_links : warn       # check for absolute links -- pointers to outside htmls in nav

  links:
    not_found: ignore           # check for broken links inside mds. (to be activated later!)
    absolute_links : ignore     # check for absolute links -- pointers to outside htmls in files (to be activated later!)
    unrecognized_links: ignore  # unrecognized relative links (to be activated later!)

# ------------------------------------
# ----------- content ----------------
# ------------------------------------
nav:
  - Home:
    - index.md

  - Monthly Meetings:
    - nhug/monthly-meetings/index.md
    - NHUG Upcoming Meetings: nhug/monthly-meetings/upcoming-events.md
    - Meeting Archives:
      #- nhug/archive/index.md
      - nhug/archive/2025-09-16.md
      - nhug/archive/2025-04-15.md
      - nhug/archive/2025-03-18.md
      - nhug/archive/2025-02-19.md
      - nhug/archive/2025-01-21.md
      - nhug/archive/2024-11-19.md
      - nhug/archive/2024-09-17.md
      - nhug/archive/2024-06-18.md
      - nhug/archive/2024-05-28.md
      - nhug/archive/2024-04-16.md
      - nhug/archive/2024-03-19.md
      - nhug/archive/2024-02-20.md
      - nhug/archive/2024-01-16.md
      - nhug/archive/2023-12-05.md
      - nhug/archive/2023-11-07.md
      - nhug/archive/2023-10-04.md
      - nhug/archive/2023-09-05.md
      - nhug/archive/2023-07-11.md
      - nhug/archive/2023-06-06.md
      - nhug/archive/2023-05-02.md
      - nhug/archive/2023-04-04.md
      - nhug/archive/2023-03-07.md
      - nhug/archive/2023-02-07.md
      - nhug/archive/2022-12-06.md
      - nhug/archive/2022-11-01.md

  - Resources: nhug/resources.md

  - Blog:
      - blog/index.md



# ------------------------------------
# -- configurations


theme:
  name: material
  custom_dir: theme/

  # -- additional features
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye

  features:
    - search.suggest
    - search.highlight
    - content.tabs.link       # all content tabs across the docs will be linked
    - content.code.annotation # add annotations (advanced)
    - content.code.annotate
    - content.code.copy
    - content.action.edit     # edit the page
    - content.action.view     # view the source page
    #- content.tooltips        # Adding tooltip for hovering over links

    # - header.autohide
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.top          # back to top button
    - navigation.path         # adding path to the top
    # - navigation.instant
    # - navigation.prune
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking # -- When anchor tracking is enabled, the URL in the address bar is automatically updated with the active anchor as highlighted.
    # - navigation.sections # -- When sections are enabled, top-level sections are rendered as groups in the sidebar for viewports above 1220px, but remain as-is on mobile.
    - search.highlight
    - search.share
    - search.suggest
    # - toc.follow
    #- toc.integrate   # one toc on left only
    - announce.dismiss

  logo : assets/images/CISL-contemp-logo-white-square.png
  favicon : https://t0.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=https://arc.ucar.edu/knowledge_base/83853599

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML

#copyright: '<font color=#666>Content is available under </font><a href="https://creativecommons.org/licenses/by/2.5/" title="Attribution2.5">Attribution2.5</a> <font color=#666>unless otherwise noted.</font>'
copyright: '&copy; 2023 UCAR, Licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons CC-BY-SA 4.0</a>.'


markdown_extensions:
  - meta
  - attr_list
  - footnotes
  - admonition
  - md_in_html
  - def_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - theme/.icons
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
      title: "Page Outline"

  # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
     url_download: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols:
      fractions: false
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - search:
      prebuild_index: false
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: false
      caption_position: bottom
  - minify:
      minify_html: true
  - blog:
      draft: true
      blog_toc: true
      post_url_format: "{slug}"
  - rss:
      image: https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Feed-icon.svg/128px-Feed-icon.svg.png
      match_path: "blog/posts/.*"
      date_from_meta:
        as_creation: "date"
        as_update: "false"
        datetime_format: "%Y-%m-%d"
        pretty_print : true
        rss_feed_enabled: true


extra:
  analytics:
    provider: google
    property: G-9XZGR836H2
  social:
    - icon: material/home-circle
      link: https://arc.ucar.edu/
    - icon: material/help-circle
      link: https://ithelp.ucar.edu/plugins/servlet/desk/site/rc
    - icon: fontawesome/brands/github
      link: https://github.com/NCAR
    - icon: fontawesome/brands/slack
      link: https://join.slack.com/t/ncarhpcusergroup/shared_invite/zt-1z00napom-SU0X8CzJWVY90C2GzRvUCg
    - icon: fontawesome/solid/rss
      link: https://nhug.readthedocs.io/en/latest/feed_rss_created.xml
