{% extends "base.html" %}

<!-- include page short_title *after* site name, if it exists, and fall back to page title -->
{%- block htmltitle %}
<title>
  {{ config.site_name }}
   {%- if page and page.meta and page.meta.short_title and not page.is_homepage %}
  - {{ page.meta.short_title }}
  {%- elif page and page.title and not page.is_homepage %}
  - {{ page.title }}
  {%- endif %}
</title>
{%- endblock %}


<!-- Announcement bar -->
{% block announce %}
  <strong>Check out the latest from the <a href="https://nhug.readthedocs.io/en/latest/blog/" target="_blank">NHUG Blog 📚</a>!</strong>
{% endblock %}
